body {
  background: #555;
  text-align:center;
  color: white;
  margin: 0;
  width: 100%;
}

nav {
  color: #7f1c9e;
  background: white;
  display: flex;
  width: 100%;
  margin: 0;
  display: inline-block;

}

ul {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  justify-content: space-around;
}

li {
  width: 20%;
  margin: 20px auto;
}

a {
  color: #7f1c9e;
}

a:hover {
  color: black;
}

nav a {
  color: #7f1c9e;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  font-size: 45px;
  font-family: 'Lora', serif;
}

h2 {
  font-size: 30px;
  font-family: 'Lora', serif;
}

h1, h2 {
  font-weight: bold;
}

p {
  font-size: 20px;
  font-family: 'Lora', serif;
  background-color: #7f1c9e;
}

img {
  margin: 50px;
  border: 0;
  width: 75%;
  max-width: 600px;
  min-width: 300px;
}

#menutrigger {
  display: none;
}

@media (max-width: 600px) {

  li {
    width: 100%;
  }
  ul {
    display: inline-flex;
    flex-flow: row wrap;
    list-style-type: none;
    justify-content: space-around;
    align-items: flex-start;
  }
  #menu_trigger {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  #menu_nav {
    display: none;
  }
}
